html {
  overflow: hidden;
}
.body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Bad Script;
}
.btn {
  padding: 100px;
  text-align: center;
  background-color: rgb(39, 135, 224);
  font-size: 70px;

  overflow: auto;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

#word {
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: rgb(39, 135, 224);
  padding: 0;
  margin: 0;
}

.btn:hover {
  text-align: center;
  background-color: rgb(35, 121, 201);
  font-size: 70px;

  overflow: auto;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  border: none; /* убираем рамку */

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* тень */
}
